{% extends 'main/base.html' %}

{% block login %}
      <div class="btn-group float-end text_big">
            {% block back_button %}
              <a href="{% url 'main' %}" class="pad_left"><button type="button" class="btn btn-secondary "><h3>Назад</h3></button></a>
            {% endblock %}
      </div>
      {% endblock %}

{% block content %}
<div class="container-xxl">
    <div class="row justify-content-center align-content-center align-items-center">
        <div class="col"><h1 class="header_about">О системе</h1></div>
    </div>
    <div class="row">
        <div class="col"><p class="text_about">В данной работе проектируется информационная система для сети Антикафе. Рассматриваемая информационная система является проектом, разрабатываемым для конечного пользователя, в нашем случае для администрации сети Антикафе и работников регистрации в каждом заведении. Данная система будет являться основной информационной системой предприятия.
    <br>Сейчас довольно распространен бизнес по открытию Антикафе. Обычно они открываются единичными заведениями и далее разрастаются в обширные сети по городу. Такая сеть Антикафе имеет непростую логистику. Большое количество посетителей, работники заведений, отлаженная закупка и содержание различных предметов развлечения: настольных игр, игровых приставок, телевизоров, компьютеров и т. д. Также почти все заведения включают в себя буфет с определенным набором еды и напитков, поэтому должна быть отлажена система закупки продуктов и столовых приборов. В каждом заведении также проводятся регулярные встречи или другие мероприятия, которые необходимо грамотно организовывать.
    <br>Рассматриваемая информационная система будет осуществлять внутреннюю отчетность сети, будет содержать всю информацию о сотрудниках и клиентах заведений, информацию о бронировании столиков и мест в различных мероприятиях, а также о предоставляемых услугах.
    <br>Изначально система не подразумевает взаимодействие с клиентами сети Антикафе. Данной информационной средой будет пользоваться только администрация и персонал заведений.
    <br>Цель работы - спроектировать удобную для пользования информационную систему с богатым функционалом, который покрывает почти всю бумажную деятельность администрации.
</div>
    </div>
</div>
{% endblock %}