{% extends 'main/node.html' %}

{% block back_button %}
  <a href="{% url 'doc_branches' %}" class="pad_left"><button type="button" class="btn btn-secondary "><h3>Назад</h3></button></a>
{% endblock %}


{% block form_name %}
<h5 class="modal-title" id="nodeEditLabel">Редактирование Товара/Услуги</h5>
{% endblock %}

{% block node_content %}
        <div class="col-10">
            <h1 class="note" ><span class="header_note">ID:</span> <span class="value_note">{{note.pk}}</span></h1>
            <h1 class="note" ><span class="header_note">Адрес:</span> <span class="value_note">{{note.address}}</span></h1>
            <h1 class="note"><span class="header_note">Телефон:</span> <span class="value_note">{{note.phone}}</span></h1>
            <h1 class="note" ><span class="header_note">Дата регистрации:</span> <span class="value_note">{{note.registration_date}}</span></h1>
            <h1 class="note" ><span class="header_note">Пользователь:</span> <span class="value_note">{{note.user}}</span></h1>
        </div>
{% endblock %}